includeConfig 'conf/process.config'

// Default input parameters
params {
    // General parameters
    sample_sheet = "${baseDir}/data/sample_sheet.tsv"
    outdir = "${baseDir}/results_nf-varcall"

    // Reference data
    reference = "${baseDir}/data/ref/Homo_sapiens.GRCh38.dna.chromosome.22.fa"
    vep_cache_dir = "${baseDir}/data/ref/vep_cache"
    targets_bed = "${baseDir}/data/targets-CYP2D6.bed"

    // VEP parameters
    vep_fork = 12

    // VCF filtering parameters
    vcf_filter_QUAL = 30
    vcf_filter_DEPTH = 10
}

/*  Workflow profiles  */
profiles {
    standard {
        process.executor = "local"
        docker.enabled = true
        docker.runOptions = '--user $(id -u):$(id -g)'
        process.container = 'ghcr.io/maurya-anand/nf-varcall'
        process.scratch = true
        env.TMPDIR = "${baseDir}/tmpdir"
    }
}

/*  Default reporting  */
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
