/*  custom process level configuration  */
process {
  withName: NANOPLOT {
    container = 'community.wave.seqera.io/library/nanoplot:1.43.0--c7226d331b0968bf'
  }
  withName: PBMM2 {
    container = 'community.wave.seqera.io/library/pbmm2:1.14.99--f806d4f9d8de97d6'
  }
  withName: DEEPVARIANT {
    container = 'google/deepvariant:1.5.0'
  }
  withName: FILTER_VARIANTS {
    container = 'community.wave.seqera.io/library/bcftools_bedtools_samtools_seqkit_python:019b3abb54caae5d'
  }
  withName: VEP {
    container = 'ensemblorg/ensembl-vep:release_110.1'
  }
  withName: REPORT {
    container = 'community.wave.seqera.io/library/bcftools_bedtools_samtools_seqkit_python:019b3abb54caae5d'
  }
}
